.g-da-display-ads {
	overflow: hidden;
	position: relative;
	margin-top: -17px;
	padding-top: 17px;
	padding-bottom: calc(100% * var(--g-da-ar-mobile, calc(1 / 1)));
	border-radius: 3px;

	@media (min-width: 782px) {
		padding-bottom: calc(100% * var(--g-da-ar-desktop, calc(79 / 640)));
	}

	&:before {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		color: #444;
		font-family: Arial;
		font-size: 10px;
		font-weight: bolder;
		line-height: 1em;
		text-transform: uppercase;
		content: attr(label);
	}

	&__inner {
		position: absolute;
		top: 17px;
		left: 0;
		width: 100%;
		height: 100%;

		&--pulse {
			background-color: var(--g-color-k25, #bfbfbf);
			animation: g_da_display_ads_pulse 2s linear infinite;

			@keyframes g_da_display_ads_pulse {
				0% {
					opacity: 0;
				}
				50% {
					opacity: 0.6;
				}
				100% {
					opacity: 0;
				}
			}
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;

		&--desktop {
			display: none;

			@media (min-width: 782px) {
				display: initial;
			}
		}
		&--mobile {
			@media (min-width: 782px) {
				display: none;
			}
		}
	}
}
